.main-header .navbar {
    background-color: #3c8dbc;
}
.main-header .logo {
    background-color: #367fa9;
}
.main-header .logo .logo-lg{
    color: white;
}

.skin-blue .main-header .navbar .nav>li>a{
    color: white !important;
}
.skin-blue .main-header .navbar .nav>li>a:hover,
.skin-blue .main-header .navbar .nav>li>a:focus,
.skin-blue .main-header .navbar .nav>li>a:active{
    background-color: #367fa9 !important;
}
a.btn.btn-default{
    margin-left: 17%;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header{
    height: 100px;
}
div.box-footer {
    border-top: 0 solid #f4f4f4 !important  ;
}
#next ul>li{
    display: inline-block;
}
div.admin{
    margin: 50px;
}
#admin2{
    margin: 5px;
}
#admin2 tr>td {
    padding-left: 10px;
}
#fix{
    margin-right: 20px !important;
}